*
{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec1
{
    width: 100%;
    height: 820px;
    background-color: black;
    position: relative;
    color: white;
}
.fd
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    left: 1100px;
}
.flex
{
    color: white;
    display: flex;
    position: absolute;
    top: 38px;
    left: 200px;
}
.w
{
    width: 40px;
}
.zamin
{
    width: 608px;
    height: 616px;
    position: absolute;
    top: 102px;
    left: 480px;
}
.to
{
    font-size: 46px;
    position: absolute;
    text-align: center;
    top: 250px;
    left: 360px;
}
.dast
{
    width: 240px;
    position: absolute;
    top: 450px;
    left: 200px;
}
.sleduet
{
    position: absolute;
    top: 450px;
    left: 1200px;
}
.podrobnee
{
    width: 250px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    position: absolute;
    top: 450px;
    left: 650px;
}
.sec2
{
    width: 100%;
    height: 727px;
    background-color: rgb(232, 237, 240);
    display: flex;
    justify-content: center;
}
.bgpoch
{
    width: 1140px;
    height: 100%;
}
.sizetext
{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
}
.wrap
{
    width: 100%;
    height: 75%;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item1
{
    width: 166px;
    height: 103px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item2
{
    width: 243px;
    height: 122px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item4
{
    width: 266px;
    height: 166px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item6
{
    width: 273px;
    height: 122px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item7
{
    width: 276px;
    height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
}
.pad
{
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 10px;
    color: #598BE0;
    display: flex;
    align-items: center;
    justify-content: center;
}










@media(max-width: 600px)
{
    .zamin
    {
        width: 356px;
        height: 360px;
        position: absolute;
        top: 121px;
        left: 15px;
    }
    .to
    {
        width: 330px;
        font-size: 28px;
        position: absolute;
        top: 230px;
        left: 20px;
    }
    .flex
    {
        position: absolute;
        left: 10px;
    }
    .fd
    {
        position: absolute;
        left: 310px;
    }
    .dast
    {
        position: absolute;
        left: 10px;
        top: 500px;
        font-size: 15px;
        width: 200px;
    }
    .sleduet
    {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    .podrobnee
    {
        position: absolute;
        left: 70px;
        top: 600px;
    }
    .sec1
    {
        height: 700px;
    }
    .sizetext
    {
        font-size: 35px;
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    .sec2
    {
        height: 1600px;
    }
    .items
    {
        width: 330px;
        height: 157px;
        margin-left: 30px;
        margin-top: 10px;
        justify-content: center;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
    }
    .itemsx
    {
        margin-left: 70px;
        margin-top: 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
}