*
{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec1
{
    width: 100%;
    height: 820px;
    background-color: black;
    position: relative;
    color: white;
}
.fd
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    left: 1100px;
}
.flex
{
    color: white;
    display: flex;
    position: absolute;
    top: 38px;
    left: 200px;
}
.w
{
    width: 40px;
}
.zamin
{
    width: 608px;
    height: 616px;
    position: absolute;
    top: 102px;
    left: 480px;
    animation-name: move;
    animation-duration: 2500s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.to
{
    font-size: 46px;
    position: absolute;
    text-align: center;
    top: 250px;
    left: 360px;
}
.dast
{
    width: 240px;
    position: absolute;
    top: 450px;
    left: 200px;
}
.sleduet
{
    position: absolute;
    top: 450px;
    left: 1200px;
}
.podrobnee
{
    width: 250px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    position: absolute;
    top: 450px;
    left: 650px;
}
.sec2
{
    width: 100%;
    height: 727px;
    background-color: rgb(232, 237, 240);
    display: flex;
    justify-content: center;
}
.bgpoch
{
    width: 1140px;
    height: 100%;
}
.sizetext
{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
}
.wrap
{
    width: 100%;
    height: 75%;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item1
{
    width: 166px;
    height: 103px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item2
{
    width: 243px;
    height: 122px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item4
{
    width: 266px;
    height: 166px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item6
{
    width: 273px;
    height: 122px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item7
{
    width: 276px;
    height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
}
.pad
{
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 10px;
    color: #598BE0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec3
{
    width: 100%;
    height: 1000px;
    background-color: #222222;
}
.box
{
    width: 1201px;
    height: 100%;
    margin: auto;
}
.chto
{
    font-size: 50px;
    margin-left: 380px;
    padding-top: 80px;
    color: white;
}
.divgrid
{
    width: 1201px;
    height: 655px;
    display: grid;
    gap: 13px;
    grid-template-columns: 295px 585px 295px;
    grid-template-rows: 239px 239px 151px;
    margin-top: 80px;
}
.itemm
{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.non
{
    display: none;
}
.sec4
{
    width: 100%;
    height: 861px;
    position: relative;
}
.chap
{
    width: 580px;
    height: 581px;
    background-color: #EAEBED;
    border: 1px solid #C6C6C6;
    border-radius: 16px;
    position: absolute;
    top: 150px;
    left: 190px;
}
.rost
{
    width: 580px;
    height: 581px;
    border: 1px solid #C6C6C6;
    border-radius: 16px;
    position: absolute;
    top: 150px;
    left: 770px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}
.it1
{
    width: 391px;
    height: 132px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hr
{
    position: absolute;
    top: 250px;
}
.size
{
    width: 24px;
    height: 24px;
    color: white;
    background-color: #598BE0;
    padding: 10px;
    border-radius: 50%;
}
.divcha1
{
    width: 440px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.position
{
    position: absolute;
    top: 110px;
    left: 190px;
}
.jy
{
    width: 306px;
    position: absolute;
    top: 480px;
    left: 80px;
}
.sec5
{
    width: 100%;
    height: 508px;
    position: relative;
}
.kak
{
    font-size: 50px;
    margin-left: 470px;
    padding-top: 80px;
}
.p1
{
    position: absolute;
    top: 242px;
    left: 142px;
}
.p2
{
    position: absolute;
    top: 370px;
    left: 400px;
}
.p3
{
    position: absolute;
    top: 212px;
    left: 642px;
}
.p4
{
    position: absolute;
    top: 370px;
    left: 800px;
}
.p5
{
    position: absolute;
    top: 212px;
    left: 1107px;
}
.vek
{
    position: absolute;
    top: 320px;
    left: 160px;
}









@keyframes move{
    0%
    {
        rotate: 0;
    }
    50%
    {
        rotate: 100turn;
    }
    100%
    {
        rotate: 0turn;
    }
}










@media(max-width: 600px)
{
    .zamin
    {
        width: 356px;
        height: 360px;
        position: absolute;
        top: 121px;
        left: 15px;
    }
    .to
    {
        width: 330px;
        font-size: 28px;
        position: absolute;
        top: 230px;
        left: 20px;
    }
    .flex
    {
        position: absolute;
        left: 10px;
    }
    .fd
    {
        position: absolute;
        left: 310px;
    }
    .dast
    {
        position: absolute;
        left: 10px;
        top: 500px;
        font-size: 15px;
        width: 200px;
    }
    .sleduet
    {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    .podrobnee
    {
        position: absolute;
        left: 70px;
        top: 600px;
    }
    .sec1
    {
        height: 700px;
    }
    .sizetext
    {
        font-size: 35px;
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    .sec2
    {
        height: 1800px;
    }
    .items
    {
        width: 330px;
        height: 157px;
        margin-left: 30px;
        margin-top: 10px;
        justify-content: center;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
    }
    .itemsx
    {
        margin-left: 70px;
        margin-top: 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .divgrid
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .sec3
    {
        height: 1860px;
    }
    .chto
    {
        margin-left: 60px;
        font-size: 28px;
    }
    .itemm
    {
        width: 330px;
        height: 274px;
    }
    .noyt
    {
        width: 254px;
        height: 152px;
    }
    .non
    {
        display: block;
    }
    .droz
    {
        display: none   ;
    }
    .box
    {
        width: 100%;
    }
    .position
    {
        top: 110px;
        left: 30px;
    }
    .chap
    {
        top: 150px;
        left: 30px;
        width: 329px;
        height: 313px;
    }
    .it1
    {
        width: 250px;
        height: 102px;
        font-size: 14px;
        top: 50px;
        left: 40px;
    }
    .hr
    {
        top: 140px;
        width: 250px;
    }
    .jy
    {
        top: 220px;
        left: 50px;
    }
    .rost
    {
        width: 330px;
        height: 446px;
        top: 465px;
        left: 30px;
    }
    .divcha1
    {
        width: 300px;
        height: 80px;
        font-size: 13px;
    }
    .dd
    {
        position: static;
        margin-top: 150px;
        margin-left: 30px;
    }
    .d
    {
        position: static;
        margin-top: 50px;
        margin-left: 30px;
    }
    .vek
    {
        rotate: -270deg;
        top: 800px;
        left: -250px;
    }
    .kak
    {
        margin-left: 30px;
        font-size: 40px;
        text-align: center;
    }
}